@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&family=Quicksand:wght@400;700&family=Josefin+Sans:wght@400;700&family=Fira+Sans:wght@400;700&family=Karla:wght@400;700&family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&family=PT+Sans:wght@400;700&family=Ubuntu:wght@400;700&family=Exo:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Asap:wght@400;700&display=swap');


@layer utilities {
  .gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.animate-draw {
  fill: none;
  stroke-width: 2;
  animation: draw 4s linear forwards;
  stroke: black;
}
html {
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Custom styles for nested list */
.nav-item {
  position: relative;
}
.nav-item .nested-list {
  display: none;
  position: absolute;
  left: -100%; /* Position to the left */
  top: 0;
}
.nav-item:hover .nested-list {
  display: block;
}

.fade-in {
  animation: fadeIn 2s ease-in;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon-animation {
  transition: transform 0.3s ease;
}

.rotate-180 {
  transform: rotate(180deg);
}
.icon-fade-in {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.icon-visible {
  opacity: 1;
  transform: translateX(0);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* hero */
h1 {
  font-family: 'Pacifico', cursive;
  line-height: 1.5 !important;
}